<% stylesheet "websites" %>

<h1><%= t('your_websites') %></h1>
<p>
<%= t('you_now_have_access_to_the_following_sites') %>
</p>

<% if is_admin? %>
  <%= link_to t('new_website'), new_website_path, :class => "button" %>
<% end %>

<ul id="websites">
  <% for website in @websites %>
    <li>
    <%= link_to raw("#{image_tag(website.looks.empty? ? '/assets/template_preview_missing.png' : website.looks.first.preview_path)}") << " #{website.title}", admin_pages_url(:subdomain => website.subdomain) %>
    </li>
  <% end %>
</ul>
