  <h3>Det verkar som om du inte har några mallar</h3>
  <p>
    Du behöver minst en mall för att redigera dina sidor.
    Mallar är vanliga HTML- och CSS-filer som du kan redigera efter egna önskemål.
  </p>
  <p>
    Klicka på knappen nedan för att skapa en egen mall från grunden. 
  </p>
