# Put this in /etc/apache2/sites-available, call it 'standoutcms' and run
# a2ensite standoutcms
# Also, make sure you have Passenger installed ('gem install passenger') => follow instructions on modrails.com
LoadModule passenger_module /usr/local/rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/passenger-3.0.9/ext/apache2/mod_passenger.so
PassengerRoot /usr/local/rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/passenger-3.0.9
PassengerRuby /usr/local/rbenv/versions/1.9.2-p290/bin/ruby

<VirtualHost *:80>
   ServerName example.com
   ServerAlias *
   DocumentRoot /u/apps/standoutcms/current/public
   <Directory /u/apps/standoutcms/current/public>
      AllowOverride all
      Options -MultiViews
   </Directory>
   # <LocationMatch "^/assets/.*$">
   #   # Some browsers still send conditional-GET requests if there's a
   #   # Last-Modified header or an ETag header even if they haven't
   #   # reached the expiry date sent in the Expires header.
   #   Header unset Last-Modified
   #   Header unset ETag
   #   FileETag None
   #   # RFC says only cache for 1 year
   #   ExpiresActive On
   #   ExpiresDefault "access plus 1 year"
   # </LocationMatch>
</VirtualHost>

