{% include 'header' %}
      
      <!-- This will be editable by the user. Usually called content to make it easy to switch between templates. -->
      <div id="content" class="editable"></div>
      
{% include 'footer' %}