{% include 'header' %}

<form accept-charset="UTF-8" action="/members/passwords" method="post">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="✓">
    <input name="authenticity_token" type="hidden" value="{{form_authenticity_token}}">
  </div>

  <p>
    <label for="email">E-postadress *</label><br>
    <input id="email" name="email" type="text">
    <input class="submit" name="commit" type="submit" value="OK">
  </p>
</form>

{% include 'footer' %}
