iframe#edit, iframe#preview {
  background-color: white;
  width: 100%;
  height: 80%;
  border: 0;
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  right: 0;
}

html {
  height: auto;
}

#overlay-container {
  background: #eee;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
}

  #overlay-content {
    margin: 20px;
  }

div.new_viewport {
  width: 100%;
}

#pages_wrapper {
  display: none;
  padding: 2em;
}

#page_tabs {
  position: absolute;
  top: 25px;
  right: 200px;
  padding: 0;
  margin: 0;
}

#text_editor {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

  #editor {
    width: 80%;
  }

  #text_editor .buttons {
    width: 200px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
  }
  
.cke_contents {
  min-height: 200px;
}

#cke_editor1 {
  padding: 0 !important;
  margin: 0 !important;
  border: 0;
}

ul#page_tabs, #page_tabs li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

#page_tabs a {
  margin-top: 5px;
  height: 20px;
  display: block;
  float: left;
  line-height: 18px;
  color: #666;
  text-decoration: none;
  margin-right: 20px;
  padding: 0 10px;
  background: #fff;
  font-size: 11px;
  border-radius: 2px 2px 0px 0px;
  -moz-border-radius: 2px 2px 0px 0px;
  background-image: url(asset-path('/images/second_level_tabs_bg.jpg'));
  background-position: bottom left;
}

#language_setting {
  position: absolute; right: 20px; top: 27px;
}

#decorative_second_level {
  height: 25px;
  background-image: url(asset-path('/images/second_level_tabs_bg.jpg'));
  background-repeat: repeat-x;
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
}

#page_tabs a.selected {
  font-weight: bold;
  color: #000;
  background: #fff;
}

div.edit_field {
  margin-top: 60px;
}

#page_switcher {
  position: absolute;
  top: 25px;
  left: 5px;
  line-height: 25px;
  z-index: 9999;
}

#settings {
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#settings div.edit_field {
  margin-top: 5px;
  padding: 5px 10px;
}

ul#page-notices {
  max-width: 60em;
  margin: 1em;
}
