#page_template_html {
  display: none;
}

.remove {
  font-size: 11px;
  color: #333;
  display: none;
  float: right;
  margin-right: 30px;
}

.discrete-text {
  font-size: 13px;
  font-style: italic;
  font-family: 'Georgia', 'Times';
  color: #ccc;
}

ul.versions li a {
  font-size: 10px;
  color: #333;
  text-decoration: none;
}
