// Place all the styles related to the ProductCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr.subcategory a {
  font-size: 10px;
  color: #666;
  padding-left: 1em;
  text-decoration: none;
}